@import url('https://fonts.googleapis.com/css?family=Aladin|Muli&display=swap');

:root {
    font-family: 'Muli', sans-serif;
    --main-color: yellow;
    --accent-color: yellow;
}

.container {
    background-image: url(../img/background.jpg);
}

.conteiner {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

body {
    max-width: 980px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6, p, div, nav, header, footer {
    margin: 0;
    padding: 0;
}

.header-stripe {
    background-image: url(../img/stripe.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 75px;
    max-height: 200px;
    width: 100%;
}

.top {
    justify-content: center;
}

.logo {
    font-family: 'Aladin', cursive;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.menu {
    font-size: 1rem;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 1vh;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

.menu a:hover {
    border: 1px solid var(--accent-color);

}

.banner img {
    width: 100%;
}

h3 {
    font-size: 12px;
}

.banner h3 {
    position: absolute;
    width: 60%;
    margin: 5px;
    margin-top: -50px;
    font-size: 9px;
    color: yellow;
}

@media (min-width: 550px) {
    .banner h3 {
    position: absolute;
    width: 40%;
    margin: 15px;
    margin-top: -120px;
    font-size: 15px;
    color: yellow;
    }
}

.form-article {
    background-image: url(../img/stripe.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 75px;
    max-height: 200px;
    width: 100%;
} 

.form-article h2 {
    font-size: 15px;
} 

@media (min-width: 550px) {
    .formForm {
        width: 60%;
    }
}

.form-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: yellow;
    margin: 0;
}

@media (min-width: 550px) {
    .form-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

.form-group label {
    align-self: center;
}

.submit {
    position: center;
}

.stripe-footer {
    background-image: url(../img/stripecrop.jpg);
    background-size: cover;
    min-height: 25px;
    max-height: 75px;
    width: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
    min-height: 25px;
    max-height: 400px;
    width: 100%;
}

.contacts-logo h1 {
    color: yellow;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.icons-contactsFacebook {
	display: flex;
	align-items: center;
	color: yellow;
	font-size: 10px;

}

.icons-contactsYoutube {
	display: flex;
	align-items: center;
	color: yellow;
	font-size: 10px;
	
}

.chanels {
    display: flex;
    justify-content: space-around;
}

.contact-info {
    color: yellow;
    display: flex;
    font-size: 12px;
}

.tel {
	display: flex;
    flex-direction: column;
    color: yellow;
    font-size: 5px;
    align-self: center;

}

.tel h2 {
    font-size: 10px;
}