@import url('https://fonts.googleapis.com/css?family=Aladin|Muli&display=swap');

.container {
    background-image: url(../img/background.jpg);
}

.conteiner {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

:root {
    font-family: 'Muli', sans-serif;
    --main-color: yellow;
    --accent-color: yellow;
} 

body {
    max-width: 980px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6, p, div, nav, header, footer {
    margin: 0;
    padding: 0;
}

.header-stripe {
    background-image: url(../img/stripe.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 75px;
    max-height: 200px;
    width: 100%;
}

.top {

    justify-content: center;
}

.logo {
    font-family: 'Aladin', cursive;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.menu {
    font-size: 1rem;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 1vh;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

.menu a:hover {
    border: 1px solid var(--accent-color);

}

.banner img {
    width: 100%;
}

h3 {
    font-size: 12px;
}

.banner h3 {
    position: absolute;
    width: 60%;
    margin: 5px;
    margin-top: -50px;
    font-size: 9px;
    color: yellow;
}

@media (min-width: 550px) {
    .banner h3 {
    position: absolute;
    width: 60%;
    margin: 15px;
    margin-top: -80px;
    font-size: 15px;
    color: yellow;
    }
}

.closing-stripe {
    background-image: url(../img/stripecrop.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 25px;
    max-height: 75px;
    width: 100%;
}

@media (min-width: 550px) {
    headernav {
        min-height: 125px;
        max-height: 175px;
        width: 100%;
        flex: 1;
        flex-direction: row;
    }
}

.form-article  h3 {
    font-family: 'Muli', sans-serif;
    font-size: 0.8rem;
    color: yellow;
    text-align: center;
    margin: 0;
}

header .closing-stripe img {
    min-height: 25px;
    max-height: 75px;
    width: 100%;
}

.form h3 {
    align-content: center;
}

.wrapper_form {
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgba(89, 89, 89, 0.7);
    border-radius: 5px;
    padding: 11px;
}

@media (min-width: 550px) {
    .wrapper_form {
    position: relative;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgba(89, 89, 89, 0.7);
    border-radius: 5px;
    padding: 11px;
    }
}

select, option, input, label, button, textarea {
    padding: 0.1rem 0.2rem;
    font-size: 10px;
    color: inherit;
}

.form-box {
    padding: 0.2rem 0;
    display: flex;
    flex-direction: column;
}

.form-box label {
    display: none;
}

.form-box input {
    flex-basis: 100%;
}

.form-box button {
}

.video-stripe {
    background-image: url(../img/stripe.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 75px;
    max-height: 200px;
    width: 100%;
}

.video-trike video {
    width: 100%;
    height: auto;
}

.video-text {
    text-align: center;
    color: yellow;
}

.history-article {
    background-image: url(../img/stripe.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 75px;
    max-height: 200px;
    width: 100%;
}

.history {
    flex-direction: column;
}

.history-photo img {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
}

@media (min-width: 550px) {
    .history-photo img {
    float: left;
    width: 40%;
    height: auto;
    padding: 5px;
    margin: 5px;
    }
}

.history-text {
    color: yellow;
    padding: 5px;
    margin: 5px;
}

.history-photo1 img {
    display: none;
}

@media (min-width: 550px) {
    .history-photo1 img {
    display: block;
    float: right;
    width: 40%;
    height: auto;
    padding: 5px;
    margin: 5px;
    }
}

.galery-article {
    background-image: url(../img/stripe.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 75px;
    max-height: 200px;
    width: 100%;
}

.gPhoto img {
    width: 100%;
}

.location {
    flex-direction: column;
}

.location-article {
    background-image: url(../img/stripe.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 75px;
    max-height: 200px;
    width: 100%;
}

.map img {
    align-self: center;
    width: 80%;
    height: auto;
    margin: 20px;
    padding: 10px;
}

@media (min-width: 560px) {
    .map img {
        align-self: center;
        width: 80%;
        height: auto;
        margin: 30px;
        padding: 20px;
    }
}

@media (min-width: 690px) {
    .map img {
        align-self: center;
        float: left;
        width: 50%;
        height: auto;
        margin: 30px;
        padding: 20px;
    }
}

.location-text h3{
    font-size: 3px;
    display: none;
    justify-content: center;
    color: yellow;
    font-size: 10px;
    margin: 5px;
}

@media (min-width: 560px) {
    .location-text h3 {
        display: flex;
        position: inherit;
        font-size: 15px;
        text-align: center;
        margin: 10px;
    }
}

@media (min-width: 690px) {
    .location-text h3 {
        display: flex;
        font-size: 15px;
        margin: 5px;
    }
}

.stripe-footer {
    background-image: url(../img/stripecrop.jpg);
    background-size: cover;
    min-height: 25px;
    max-height: 75px;
    width: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
    min-height: 25px;
    max-height: 400px;
    width: 100%;
}

.contacts-logo h1 {
    color: yellow;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.icons-contactsFacebook {
	display: flex;
	align-items: center;
	color: yellow;
	font-size: 10px;

}

.icons-contactsYoutube {
	display: flex;
	align-items: center;
	color: yellow;
	font-size: 10px;
	
}

.chanels {
    display: flex;
    justify-content: space-around;
}

.contact-info {
    color: yellow;
    display: flex;
    font-size: 12px;
}

.tel {
	display: flex;
    flex-direction: column;
    color: yellow;
    font-size: 5px;
    align-self: center;

}

.tel h2 {
    font-size: 10px;
}