@import url('https://fonts.googleapis.com/css?family=Aladin|Muli&display=swap');

:root {
    font-family: 'Muli', sans-serif;
    --main-color: black;
    --accent-color: black;

}

body {
    max-width: 980px;
    margin: auto;
}

h1, h2, h3, p, div, nav, header, footer {
    margin: 0;
    padding: 0;
}

header nav {
    background-image: url(../img/stripe.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100px;
    max-height: 150px;
    width: 100%;

}

header .logo {
    font-family: 'Aladin', cursive;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

header .menu {
    font-size: 1rem;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

header nav .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header nav .menu a:hover {
    border: 1px solid var(--accent-color);

}

header .banner p img{
    width: 100%;
}

@media (min-width: 550px) {
    header nav {
        min-height: 125px;
        max-height: 175px;
        width: 100%;
        flex: 1;
        flex-direction: row;
    }
}

header .banner  h3 {
    font-family: 'Muli', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}

header .closing-stripe img {
    min-height: 25px;
    max-height: 75px;
    width: 100%;
}

main .form h3 {
    font-family: 'Muli', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
}

main .form form {
    font-family: 'Muli', sans-serif;
    font-size: 0.7rem;
    text-align: center;
}
